@charset "utf-8";



/* topIndex ------------------------------------------------------------------------------ */

#topIndex div.topleft {float: left; width:600px; height:210px; background-color:#5880b3; padding:20px;}
#topIndex div.topright{float:right; width:240px; height:210px; background-color:#c05149; padding:20px;}



