@charset "utf-8";

/* -- font-size --
 *
 * 11px :92%
 * 12px : 100%
 * 14px : 117%
 * 16px : 133%
 * 18px : 150%
 * 20px : 167%
 * 24px : 200%
 * 30px : 250%
 * 
 * ------------ */

/* common -------------------------------------------------------------------------------- */
html{font-size:100.01%;}
body{background:#fff; color:#333; line-height:130%; padding:0; width:100%;}
body .frm{margin:0 auto; width:930px;}

img{border:0;}
p{margin:0; padding:0;}

.clear{clear:both; line-height:100%; font-size:1px;}
.none{border:none;}
.bold{font-weight:bold;}

/* float */
.left {float: left;}
.right{float:right;}

/* padding */
.pd5 {padding: 5px;}
.pd10{padding:10px;}
.pd20{padding:20px;}

/* font weight */
.bold{font-weight:bold;}

/* font color */
.txtW{color:#fff;}
.txtR{color:#f00;}


/* header -------------------------------------------------------------------------------- */

#headerArea{margin:0; padding:0; font-size:70%; width:930px; height:55px; position:relative;}
#headerArea #logo     {float:left ; position:relative; top:10px;}
#headerArea #loginArea{float:right; position:relative;}
#headerArea #loginArea div.check span{padding-right:90px;}
#headerArea #loginArea #signOut{position:relative; top:27px;}

/* input --------------------------------------------------------------------------------- */

.input01{
width:160px;
height:20px;
padding:0 10px;
border:1px solid #ccc;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
}

.input02{
width:200px;
height:20px;
position:relative; top:5px;
padding:2px 5px 2px 10px;
border:1px solid #ccc;
border-radius:12px;
-webkit-border-radius:12px;
-moz-border-radius:12px;
background-color:#fff;
}

/* button -------------------------------------------------------------------------------- */
.login{
width:30px;
height:30px;
border:0;
border-radius:15px;
-webkit-border-radius:15px;
-moz-border-radius:15px;
cursor:pointer;
background-color:#ffc000;
background:url(/images/leftArrow.png) 0 0 no-repeat;
}

.search{
width:20px;
height:18px;
border:0;
border-radius:9px;
-webkit-border-radius:9px;
-moz-border-radius:9px;
cursor:pointer;
background-color:#ffc000;
background:url(/images/SearchIcon.gif) 0 0 no-repeat;
}

.config{
width:30px;
height:30px;
border:0;
border-radius:15px;
-webkit-border-radius:15px;
-moz-border-radius:15px;
cursor:pointer;
background-color:#ffc000;
background:url(/images/configGear.png) 0 0 no-repeat;
}

.question{
width:30px;
height:30px;
border:0;
border-radius:15px;
-webkit-border-radius:15px;
-moz-border-radius:15px;
cursor:pointer;
background-color:#ffc000;
background:url(/images/questionMark.png) 0 0 no-repeat;
}

/* footer -------------------------------------------------------------------------------- */

#footerArea{ font-size:70%;}
#footerArea ul.lang{list-style:none; margin:0; padding:0; float:left;}
#footerArea ul.foot{list-style:none; margin:0; padding:0; float:right;}
#footerArea ul.lang li,
#footerArea ul.foot li{float:left; margin:10px 0; padding:0 10px; border-right:1px #999 solid;}
#footerArea ul.lang li:last-child,
#footerArea ul.foot li:last-child{border-right:0;}
#footerArea div.copyright{margin:10px 0; text-align:center;}

